$black: grey;
$light-black: lightgrey;

body {
  color: $black;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 1.0rem;
  margin: 0;
  padding: 0;
}

#container {
  height: 450px;
  overflow-y: scroll;
  width: 450px;
}

.actions-list {
  display: flex;
  flex-direction: column;
}

.config {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

  .action-button {
    flex-shrink: 1;
  }

  .action-field {
    flex-grow: 1;
  }
}

.action {
  align-items: center;
  border-bottom: solid 1px #cccccc;
  display: flex;
  justify-items: left;
  padding: 0.5rem;

  &:last-child {
    border-bottom: none;
  }

  &.inactive {
    pointer-events: none;
  }
}

.action-title {
  flex-grow: 1;
}

.action-parameter {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.action-button {
  background: steelblue;
  border-radius: 0.25rem;
  border: none;
  color: aliceblue;
  cursor: pointer;
  margin-right: 0.25rem;
  padding: 0.35rem 0.65rem;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.action-field {
  padding: 0.28rem;
}

.action-trigger {
  justify-content: flex-end;

  &:after {
    content: 'Run';
  }
}

.action-configure {
  background: darkorange;
  justify-content: flex-end;

  &:after {
    content: '+';
  }
}

label {
  font-size: 12px;
}
